.Text-Box-Form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: text;
  float: left;
  font-family: "Roboto", Roboto, sans-serif;
}

.Label {
  color: black;
}

.Submit {
  margin-right: 20px;
  margin-bottom: 20px;

  padding: 14px 20px;
  text-align: left;
  width: 100px;
  background-color: var(--nav-color);
  color: white;
  float: right;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  transition: filter 300ms;
  
}

.Submit:hover{
 filter:brightness(.6) 
}

.Cancel {
  margin-left: 20px;
  margin-bottom: 20px;

  padding: 14px 20px;
  text-align: left;

  width: 100px;

  background-color: var(--failure);
  color: white;

  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 300ms;
}

.Cancel:hover {
  background-color: var(--failure-hover);
}

.Post-buttons {
  color: var(--nav-inner);
  text-align: center;
  font-family: "Roboto", Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.Post-buttons.cancel {
  color: white !important;
}
.Post {
  border-radius: 3px;

  padding: 14px 20px;
  margin-top: 16px;
  background-color: var(--nav-color);
  position: relative;

  border: none;
  cursor: pointer;
  column-width: 90%;
  float: right;
  margin-right: 10px;
  transition: filter 300ms;
}

.Post:hover {
  filter: brightness(0.6);
}
.mce-notification {
  display: none !important;
}
.tox-notification {
  display: none !important;
}

.CardBodyText.innertext {
  padding-left: 10px;
}

#tinymce > p {
  margin-left: 10px;
}
