@media only screen and (max-width: 600px) {
  .classroom {
    width: 60vw;
  }
}

@media only screen and (min-width: 600px) {
  .classroom {
    width: 80vw;
  }
}

@media only screen and (min-width: 768px) {
  .classroom {
    width: 85vw;
  }
}

@media only screen and (min-width: 992px) {
  .classroom {
    width: 92vw;
  }
}

@media only screen and (min-width: 1200px) {
  .classroom {
    width: 1100px;
  }
}

.classroom.CardBody {
  padding-bottom: 10px;
}

.classroom-messages {
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: decimal;
  list-style-position: inside;
  max-height: 50vh;
}
.classroom-messages-admin {
  overflow-x: hidden;
  overflow-y: scroll;

  height: 500px;
}

.name {
  font-weight: 900;
}

li.message {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  text-align: left;
  color: black;
}

p.admin-message {
  width: 90%;
}
.gavel-button {
  bottom: 20px;
  left: 20px;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: var(--nav-color);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.gavel-button:hover {
  filter: brightness(1.2);
}

.adminpanel {
  position: fixed;
  z-index: 1;
  bottom: 110px;
  left: 450px;
  height: 500px;
  width: 900px;

  transform: translateX(-45%);
  background-color: var(--bg-chat-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem;
}

.button-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row.classroom-editor {
  margin: 10px;
  padding-right: 15px;
}

.row.classroom-editor.preview {
  margin: 10px;
  width: auto;
  padding-right: 10px;
  margin-right: 25px;
}

li.message-admin {
  display: flex;
}

.columns {
  padding: 12px;
}

.sendpost {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.sendpost:hover {
  filter: brightness(0.9);
}

/* default, clickable */

.columns.message-display {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  text-align: left;
  color: black;
  transition: filter 300ms;
  width: -moz-available;
  background: #f1f1f1;
}
.columns.message-display.false0 {
  background: #f1f1f1;
}
.columns.message-display.false0:hover {
  filter: brightness(0.9);
}
/* light green, clickable*/

.columns.message-display.false1 {
  background-color: #d9ead3;
}
.columns.message-display.false1:hover {
  filter: brightness(0.9);
}
/* light red, clickable */
.columns.message-display.false2 {
  background-color: #f4cccc;
}
.columns.message-display.false2:hover {
  filter: brightness(0.9);
}

.sendpost {
  border: none;
  float: right;
  border-radius: 10px;
}
.sendpost:hover {
  background: white;
}

.sendpost.false0 {
  display: none;
}

.sendpost.false1 {
  background-color: #d9ead3;
}
.sendpost.false1:hover {
  filter: brightness(0.9);
}
.sendpost.false2 {
  background-color: #f4cccc;
}
.sendpost.false2:hover {
  filter: brightness(0.9);
}

.times-button {
  bottom: 20px;
  left: 80px;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: var(--nav-color);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.times-button:hover {
  filter: brightness(1.2);
}
