.header {
  padding-left: 20px;
  color: white;
}
h1.header {
  padding-top: 40px;
}
h2.header {
  padding-top: 0px;
}
h1 {
  padding-top: 30px;
}
.evlogo {
  height: 150px;
  float: right;
  padding: 20px;
}

.CardHeadText {
  padding: 10px;
}
.left {
  float: left;
}

.right {
  float: right;
}

.inner {
  height: 35px;
}
