/* Global variables */
:root {
  /* dark */
  /* 
  --bg: #121212;
  --bg-accent: #484a4d;
  --text-color: white;
  --text-dark: #484a4d;

  --nav-color: #484a4d;
  --nav-inner: white;
  --bg-chat-color: #484a4d;
  --input-chat-color: white;
 */

  /* light */
  /* --bg: #e8e6e6;
  --bg-accent: #ebebeb;
  --text-color: #434343;
  --text-dark: #434343;

  --nav-color: #d1cdcd;
  --nav-inner: black;
  --bg-chat-color: white;
  --input-chat-color: #edebeb; */

  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;

  --mathi-primary: #4ba1b3;
  --mathi-secondary: #1c4f5d;

  --mathii-primary: #cd2f2a;
  --mathii-secondary: #852018;

  --physicsmechanics-primary: #3c78d8;
  --physicsmechanics-secondary: #1c4587;

  --linguistics-primary: #f1803a;
  --linguistics-secondary: #9a5222;

  --astronomy-primary: #871f78;
  --astronomy-secondary: #57194e;

  --biology-primary: #3e8b37;
  --biology-secondary: #296013;

  --single-button: #5a6268;
  --single-button-hover: #464b4f;

  --success: green;
  --failure: #cd2f2a;

  --success-hover: darkgreen;
  --failure-hover: darkred;

  /* --cardbg1: rgb(240, 236, 236); */
  --cardbg2: white;
  --cardbg1: #f2f2f2;

  --brownlogo: #775031;
  --yellowlogo: #ecd549;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: "Roboto", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 2rem);
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--nav-color);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  z-index: 2;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}
.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu-item:hover {
  background-color: var(--bg-accent);
}
.icon-right {
  margin-left: auto;
}

button {
  border-radius: 4px;
}
.tox-tinymce {
  z-index: 0;
}

.preview {
  padding: 10px;
  padding-top:15px;
  overflow: scroll;
  width: 100%;
  height: 200px;
}
